/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: #f8f9fa;
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: #f8f9fa;
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: #f8f9fa;
}

/* #439A97 #62B6B7 */

/* active (faded) */
.nav-pills .pill-1 .nav-link {
    background-color: #ffffff;
}

.nav-pills .pill-2 .nav-link {
    background-color: #ffffff;
}

.nav-pills .pill-3 .nav-link {
    background-color: #ffffff;
}

